/* ----------------------------- */
.inner {
    width: 1200px;
    margin: 0 auto;
}



/* ---------------header-------------- */

#topBanner .inner ul {
    display: flex;
    gap: 30px;
    line-height: 15px;
    justify-content: right;
}

#topBanner .inner ul li {
    font-size: 14px;
    line-height: 50px;
}

#topBanner .inner ul li~li::before {
    content: "";
    width: 1px;
    height: 10px;
    background: #444;
    display: inline-block;
    margin: 0 10px;
}


#header {
    position: sticky;
    top: auto;
    left: 0;
    right: 0;
    line-height: 100px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 999;
}

#header.on {
    top: 0;
    border: none;
}

#header .right {
    font-size: 25px;
}

#header .inner {
    display: flex;
    justify-content: space-between;
}

#header .gnb>ul {
    display: flex;
    gap: 30px;
}

#header .gnb>ul>li {
    position: relative;
    text-align: center;
}

#header .gnb>ul>li>a {
    font-size: 20px;
    font-weight: 500;
}

#header .gnb>ul>li>.smenu {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #444;
    border-radius: 10px;

    color: #fff;
    width: 120px;
    line-height: 40px;
    display: none;
}

#header .gnb>ul>li:hover>.smenu {
    display: block;
}


/* ---------------mainTitle-------------- */

#mainTitle {
    padding: 100px 0;
}

.mainTitle_sec01 {
    display: flex;
    justify-content: space-between;
}

.mainTitle_sec01 h2 {
    font-family: 'Neucha', cursive;
    font-size: 130px;
    font-weight: 700;
    letter-spacing: 15px;
}

#mainTitle p {
    position: relative;
    font-size: 25px;
    font-weight: 800;
    color: rgb(101, 47, 141);
    font-family: 'Cafe24Ssurround';
}

#mainTitle p::after {
    content: "\e93f";
    font-family: xeicon !important;
    background: rgb(101, 47, 141);
    color: #fff;
    border-radius: 50%;
    margin: 0 0 0 10px;
}

/* ---------------mainVisual-------------- */
#mainVisual {
    padding: 0 0 100px 0;
}

#mainVisual .main_slide {
    position: relative;
    margin: 0 -30px 0 -30px;
}

#mainVisual .main_slide figure {
    margin: 0 30px;
    overflow: hidden;
}

#mainVisual .main_slide img {
    width: 100%;
}

#mainVisual .main_slide img {
    border-radius: 30px;
}

.main_slide .slick-dots {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.main_slide .slick-dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    background: #ddd;
    border-radius: 50%;
}

.main_slide .slick-dots li.slick-active {
    background: rgb(170, 204, 57);
    width: 20px;
    border-radius: 10px;
}

.main_slide .slick-dots>li>button {
    display: none;
}

.main_slide
/* * {
    outline: 1px solid tomato
} */