@media (max-width: 768px) {

    body {
        padding: 0 15px;
    }

    .pc_none {
        display: block;
    }

    .mo_none {
        display: none;
    }

    /* ----------------------------- */
    .inner {
        width: auto;
        margin: 0 auto;
        text-align: center;
    }

    .f_inner {
        width: auto;
        margin: 0 auto;
    }

    .slick-dots {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: -30px;
    }

    .slick-dots li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 3px;
        background: #ddd;
        border-radius: 50%;
        cursor: pointer;
    }

    .slick-dots li.slick-active {
        background: #37d243;
        width: 20px;
        border-radius: 10px;
    }

    .slick-dots>li>button {
        display: none;
    }

    /* ---------------header-------------- */
    #header {
        line-height: 50px;
    }

    /* ------ toggle menu ------ */
    .menu_cover {
        position: fixed;
        inset: 0 0 auto 0;
        background: #fff;
        color: #444;
        z-index: 998;
        height: 0;
        overflow: hidden;
        transition: 1s;


        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_cover::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background: #37d243;
    }

    .menu_cover.on {
        height: 100vh;
    }

    .menu_cover .inner_wrap {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu_cover>.inner_wrap>.gnb_menu>ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        grid-template-rows: 1fr 1fr;
    }

    .menu_cover>.inner_wrap>.gnb_menu>ul>li>a {
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
    }

    .menu_cover>.inner_wrap>.gnb_menu>ul>li>a:hover {
        color: #37d243;
    }

    .menu_cover>.inner_wrap>.gnb_menu>ul>li>ul {
        line-height: 35px;
        font-size: 20px;
        font-weight: 500;
    }

    .menu_cover>.inner_wrap>.gnb_menu>ul>li>ul>li>a:hover {
        color: #37d243;
        text-decoration: underline;
        text-underline-offset: 8px;
    }

    .menu_cover .common_menu {
        width: 20%;
        font-size: 20px;
        font-weight: 600;
    }

    .menu_cover .common_menu .member {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 50px;
        margin-bottom: 10px;
    }

    .common_menu .member .btn_login {
        color: #37d243;
        margin: 0 20px 0 0;
    }

    .common_menu .member .btn_login::after {
        content: "";
        display: inline-block;
        background: #444;
        width: 1px;
        height: 15px;
        margin: 0 0 0 20px;
    }

    .common_menu .member a {
        display: flex;
        align-items: center;
    }

    .common_menu .member a::before {
        content: "";
        display: inline-block;
        width: 26px;
        height: 26px;
        margin-right: 5px;
    }

    .common_menu .member a.btn_login::before {
        background-image: url(../img/ico_login.png);
    }

    .common_menu .member a.btn_join::before {
        background-image: url(../img/ico_join.png);
    }

    .common_menu .site_link li a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        padding: 0 30px 0 20px;
        border: solid 1px #c2c2c2;
        border-radius: 50px;
        margin-bottom: 10px;
    }

    .common_menu .site_link li a:before {
        content: "";
        width: 22px;
        height: 22px;
        margin-right: 10px;
    }

    .common_menu .site_link li a.type1:before {
        background-image: url('../img/ico_sitelink_type1.png');
    }

    .common_menu .site_link li a.type2:before {
        background-image: url('../img/ico_sitelink_type2.png');
    }

    .common_menu .site_link li a.type3:before {
        background-image: url('../img/ico_sitelink_type3.png');
    }


    .common_menu .customer_link {
        display: block;
        position: relative;
        background-color: #E8E7FB;
        border-radius: 16px;
    }

    .common_menu .customer_link .txt {
        position: absolute;
        top: 10px;
        left: 30px;
        color: #000;
        font-size: 24px;
        font-weight: 700;
    }


    /* ---------------mainTitle-------------- */

    .mainTitle_sec01 h2 {
        font-size: 80px;
    }

    /* ---------------mainVisual-------------- */
    #mainVisual {
        position: relative;
    }

    #mainVisual .main_wrap {
        overflow: visible;
    }

    #mainVisual .main_slide {
        margin: 0;
    }


    #mainVisual .main_slide figure {
        margin: 0;
    }


    /* ---------------상품 슬라이드 기본 설정-------------- */
    .slide_wrap .hidden_wrap {
        overflow: visible;
    }

    .slide_wrap figure:hover .prod_wrap>img {
        transform: none;
    }

    .slide_wrap .prod_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .slide_wrap .prod_wrap>img {
        max-width: 150px;
    }

    /* ---------------hot_issue 핫이슈-------------- */

    /*  */
    .flex_inner {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /* 검색 왼쪽 sec */

    .flex_inner .left {
        width: 100%;
    }

    .flex_inner .left .title {
        font-size: 36px;
    }

    .flex_inner .left .txt {
        font-size: 20px;
    }

    /* ---------------지금 나에게 필요한건?-------------- */
    #now_need {
        position: relative;
        padding: 0 0 150px 0;
    }

    #now_need .left {
        padding: 0;
    }

    #now_need .right {
        width: 100%;
    }

    #now_need .category_wrap {
        position: relative;
        max-width: 375px;
        width: 100%;
        height: 240px;
        margin: 0 auto;
    }

    #now_need .category_wrap .big_ver {
        height: 50px;
        border-radius: 25px 25px 0 25px;
    }

    #now_need .category_wrap .small_ver {
        height: 40px;
        border-radius: 20px 20px 0 20px;
    }

    #now_need .category_wrap .big_ver .cate_name {
        font-size: 18px;
    }

    #now_need .category_wrap .small_ver .cate_name {
        font-size: 14px;
    }

    #now_need .category_wrap .cate01 {
        padding: 7px 17px 8px 16px;
        background: #313842;
        left: 70px;
        top: 0;
    }

    #now_need .category_wrap .cate02 {
        padding: 10px 18px 9px 17px;
        background: #fff;
        left: 149px;
        top: 100px;
    }

    #now_need .category_wrap .cate03 {
        padding: 14px 44px 12px 17px;
        background: #37d243;
        right: 0;
        bottom: 21px;
    }

    #now_need .category_wrap .cate04 {
        padding: 11px 21px 10px 19px;
        background: #fff;
        right: 40px;
        bottom: 95px;
        z-index: 1;
    }

    #now_need .category_wrap .cate05 {
        padding: 11px 27px 10px 27px;
        background: #313842;
        left: 50%;
        bottom: 0;
        margin-left: -70px;
    }

    #now_need .category_wrap .cate06 {
        padding: 14px 39px 12px 28px;
        background: #6837f8;
        right: 44px;
        top: 75px;
    }

    #now_need .category_wrap .cate07 {
        padding: 18px 38px 19px 26px;
        background: #6837f8;
        left: 0;
        bottom: 48px;
        z-index: 1;
    }

    #now_need .category_wrap a .cate_name {
        color: #fff;
        font-weight: 700;
    }

    #now_need .category_wrap a .font_black {
        color: #000;
    }

    /* ---------------우리동네 cu어디있지?-------------- */

    #search_cu {
        position: relative;
        padding: 0 0 150px 0;
    }

    #search_cu .left {
        margin: auto 0;
    }

    #search_cu .right {
        width: 50%;
        position: relative;
    }

    /* ---------------창업안내, 고객센터-------------- */
    #info_banner {
        position: relative;
        padding: 0 0 100px 0;
    }

    #info_banner .f_inner {
        display: flex;
        gap: 30px;
        justify-content: space-between;
    }

    #info_banner .cont_wrap {
        flex: 1;
    }

    #info_banner .cont_wrap a {
        position: relative;
        display: block;
        width: 100%;
        height: 260px;
        border-radius: 16px;
        padding: 50px 60px;
        box-sizing: border-box;
        color: #000;
    }


    #info_banner .cont_wrap .franchise_bnr {
        background: #ceeef8 url('../img/info_cu.png') right bottom no-repeat;
        background-size: contain;
    }

    #info_banner .cont_wrap .cs_bnr {
        background: #dcdafc url('../img/info_customer.png') right bottom no-repeat;
        background-size: contain;
    }

    #info_banner .cont_wrap .franchise_bnr:hover {
        background-image: url('../img/info_cu.png'), linear-gradient(67deg, #50e2c4 7%, #4f69ec);
    }

    #info_banner .cont_wrap .cs_bnr:hover {
        background-image: url('../img/info_customer.png'), linear-gradient(67deg, #9262f3 7%, #f276d6);
    }

    #info_banner .cont_wrap .title {
        font-size: 36px;
        font-weight: 700;
        line-height: 45px;
        margin: 0 0 15px 0;
    }

    #info_banner .cont_wrap .txt {
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
    }

    #info_banner .cont_wrap i {
        position: absolute;
        left: 60px;
        bottom: 50px;
        display: inline-block;
        width: 26px;
        height: 12px;
        transition: all 0.3s ease;
        vertical-align: middle;
        cursor: pointer;
    }

    #info_banner .cont_wrap i:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        display: block;
        width: 10px;
        height: 10px;
        border-right: 2px solid #000;
        border-top: 2px solid #000;
        transform: translateY(-50%) rotate(45deg);
    }

    #info_banner .cont_wrap i:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        border-bottom: 2px solid #000;
        transform: translateY(-50%);
    }

    #info_banner .cont_wrap a:hover .title,
    #info_banner .cont_wrap a:hover .txt {
        color: #fff;
    }

    #info_banner .cont_wrap a:hover i {
        width: 106px;
    }

    #info_banner .cont_wrap a:hover i:after,
    #info_banner .cont_wrap a:hover i:before {
        border-color: #fff;
    }

    /* ---------------스토리-------------- */
    #story_cu {
        position: relative;
    }

    #story_cu .cont_wrap {
        display: flex;
        justify-content: space-between;
    }

    #story_cu h2 {
        font-size: 120px;
        font-weight: 700;
        line-height: 200px;
        margin: 0 0 200px 0;
        color: #652f8d;
        font-family: 'Cafe24Ssurround';
    }

    #story_cu h3 {
        font-size: 36px;
        line-height: 50px;
        padding: 25px 0 23px;
    }

    #story_cu p {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }

    #story_cu .cont_wrap .story02 {
        padding: 0 0 130px;
    }

    /* ---------------CU 매장-------------- */

    #storeSlide .store_slide figure {
        position: relative;
    }

    #storeSlide .store_slide figure img {
        width: 100%;
    }

    #storeSlide .store_slide figure .title {
        font-size: 80px;
        line-height: 100px;
        font-weight: 700;
        color: #fff;
        background: rgba(0, 0, 0, 0.4);

        position: absolute;
        bottom: 50px;
        left: 50px;
        padding: 20px 10px;
    }

    /* ---------------footer-------------- */
    #footer {
        padding: 50px 0;
        background-color: #f0f0f0;
    }

    #footer .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    #footer .f_inner {
        border-top: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    #footer .inner .left {
        display: flex;
        font-size: 16px;
        line-height: 30px;
    }

    #footer .inner .left li.black a {
        font-weight: 700;
    }

    #footer .inner .right {
        display: flex;
        gap: 10px;
        font-size: 30px;
    }

    #footer .top .left li~li::before {
        content: "";
        margin: 0 20px;
        display: inline-block;
        width: 1px;
        height: 11px;
        background: #444;
    }

    #footer .bottom {
        line-height: 30px;
    }

    #footer .bottom #f_link {
        width: 200px;
    }

    #footer .bottom img {
        margin: 0 0 20px 0;
    }
}